<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
<!-- CSS Files -->
	<link href="/css/cdn/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<!-- JS Files -->
	<script src="/js/cdn/slim.min.js"></script>
	<script src="/js/cdn/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/js/cdn/popper.min.js"></script>
	<script src="/js/cdn/jquery.min.js"></script>
	<script src="/js/cdn/moment.min.js"></script>
</head>
<meta charset = "UTF-8" />
<body>
	<div class="container-fluid">
		<!-- <div th:insert="loadScreen :: loaderFragment"></div> -->	
		<div class="container-fluid">
			<div th:replace="navbar::navigationBar"></div>
			
		</div>
	</div>
	
</body>
</html>