<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- Loader icon -->
	<div id="loader-icon" class="loader" th:fragment="loaderFragment">
		<div class="spinner-grow text-danger" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<div class="spinner-grow text-success" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<div class="spinner-grow text-warning" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<div class="spinner-grow text-info" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</body>
</html>