<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="navigationBar" class="navbar border"
		style="height: 55px; padding: 0px 0px 0px 0px; width:100%;">
		<div class="row">
			<div class="col-12 topSectionNav">
				<div class="col-2 topSectionNavHeading" style="margin-left: 0px;">
					<a th:href="@{/}"><img src="/img/Alogo.jpeg"></a>
				</div>
				<div class="col-10 flex-end" style="margin-right:10px;">
					<nav class="navbar navbar-expand-lg">
						<div class="container-fluid justify-content-end" style="margin-right:10px;">
							<button class="navbar-toggler" type="button"
								data-bs-toggle="collapse" data-bs-target="#navbarNav"
								aria-controls="navbarNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
								<ul class="navbar-nav ">
									<li id="home" class="nav-item"><a class="nav-link active"
										aria-current="page" th:href="@{/}">Home</a></li>
									<li id="aboutUs" class="nav-item"><a class="nav-link" th:href="@{/aboutUs}">About Us</a></li>
									<li id="projects" class="nav-item"><a class="nav-link" th:href="@{/projects}">Projects</a></li>
									<li id="services" class="nav-item"><a class="nav-link" th:href="@{/services}">Services</a></li>
									<li id="contact" class="nav-item"><a class="nav-link" th:href="@{/contactUs}">Contact</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>

			</div>
		</div>
	</nav>
</body>
</html>